@import './variable';

@mixin vertical-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin horizontal-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin card {
    @include vertical-list();
    background-color: $card-background-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: 30px;
    white-space: normal;
    gap: 10px;
    width: 400px;
    border-radius: 10px 10px 0px 0px;
    .card-header {
        position: relative;
        width: 100%;
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        .overlay {
            background-color: #000000a1;
            top: 0;
            position: absolute;
            text-align: center;
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            color: white;
        }
    }
    .card-content {
        padding-inline: 30px;
    }
    .card-footer {
        button {
            border: none;
            border-radius: 4px;
            background-color: $primary-color;
            color: white;
            padding-inline: 20px;
            padding-block: 10px;
            margin-bottom: 20px;
            cursor: pointer;
        }
    }
}

@mixin button {
    border: none;
    padding: 10px 40px;
    background-color: #e61e4d;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px #f76688;
    color: #efefef;
    
}